<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet.mvc.mapper.MessageMapper">

	<select id="getAllMsgList" resultType="msg" parameterType="long">
		select a.*, b.member_name sender_name from
		 (select message.* from message where (sender_number, senddate) in 
		  (select sender_number, max(senddate) from message natural join member 
		  where sender_number != #{member_number}
		  group by sender_number)
		 order by senddate desc) a 
		 inner join
		(select member_number, member_name from member) b
		<![CDATA[on(a.sender_number = b.member_number)]]>
	</select>
	
	<select id="getMsgList" resultType="msg" parameterType="map">
		select message.*, b.member_name sender_name, c.member_name member_name from MESSAGE,
		(select member_number, member_name from member) b,
        (select member_number, member_name from member) c
		where 
        <![CDATA[(message.sender_number = b.member_number and message.member_number = c.member_number)
        and(
        (message.MEMBER_NUMBER = #{member_number} and message.SENDER_NUMBER = #{sender_number}) 
        or 
        (message.MEMBER_NUMBER = #{sender_number} and message.SENDER_NUMBER = #{member_number}))]]>
		order by message.SENDDATE
	</select>
	
	<insert id="insertMsg" parameterType="msg">
		insert into MESSAGE values(msg_seq.nextval, #{member_number}, #{sender_number}, #{msg_content}, null, SYSDATE)
	</insert>

</mapper>